<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="css/vanilla.css" media="screen" title="no title">
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-cor">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="alinha-icone-navbar" src="imgs/icone-navbar.png" height="35">
          </a>
          <p class="navbar-text">Gerencia Estoque Show</p>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="#">Funcionários</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Requisições</a></li>
        </ul>

        <div class="pull-right">
          <ul class="nav navbar-nav">
            <li><a href="#">Usuário <i class="glyphicon glyphicon-user"></i></a></li>
            <li><a href="#">Sair <i class="glyphicon glyphicon-remove"></i></a></li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
          </ol>
        </div>

        <div class="col-xs-12">
          <table class="table table-bordered">
            <caption>Últimas Requisições solicitadas:</caption>
            <tr>
              <th>ID:</th>
              <th>Produto:</th>
              <th>Hora:</th>
            </tr>
            <tr>
              <td>01</td>
              <td>Escova</td>
              <td>23:15:01</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Escova</td>
              <td>23:15:01</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Escova</td>
              <td>23:15:01</td>
            </tr>

          </table>
        </div>

        <div class="col-xs-12">

          <table class="table table-bordered">
            <caption>Produtos com Estoque baixo:</caption>
            <tr>
              <th>ID:</th>
              <th>Produto:</th>
              <th>Hora:</th>
            </tr>
            <tr>
              <td class="estoque-baixo">01</td>
              <td>Escova</td>
              <td>23:15:01</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Escova</td>
              <td>23:15:01</td>
            </tr>
            <tr>
              <td>01</td>
              <td>Escova</td>
              <td>23:15:01</td>
            </tr>

            <tr>
              <td colspan="3">
                //Legenda
              </td>
            </tr>

          </table>

        </div>

      </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom navbar-cor">
      <div class="container-fluid">
      </div>
    </nav>


  </body>
</html>
